    <h1 class="title-producto">Lista de productos</h1>
    <table border="1">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Precio</th>
                <th>Stock</th>
                <th>Descripción Corta</th>
                <th>Envío sin Cargo</th>
                <th>Accion</th>
            </tr>
        </thead>
        <tbody>
            {{#each productos}}
            <tr>
                <td>{{this._id}}</td>
                <td>{{this.nombreProducto}}</td>
                <td>{{this.precioProducto}}</td>
                <td>{{this.stockProducto}}</td>
                <td>{{this.descripcionCortaProducto}}</td>
                <td>{{this.envioSinCargoProducto}}</td>
                <td>
                    <a href="/productos/editar/{{_id}}">
                        <button>Actualizar</button>
                    </a>
                    <form action="/productos/delete/{{_id}}" method="post">
                        <button type="submit">Eliminar</button>
                    </form>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>

