<h1>Lista de Productos</h1>
<table border="1">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Precio</th>
            <th>Stock</th>
            <th>Descripción Corta</th>
            <th>Envío sin Cargo</th>
        </tr>
    </thead>
    <tbody>
        {{#each productos}}
            <tr>
                <td>{{this._id}}</td>
                <td>{{this.nombreProducto}}</td>
                <td>{{this.precioProducto}}</td>
                <td>{{this.stockProducto}}</td>
                <td>{{this.descripcionCortaProducto}}</td>
                <td>{{this.envioSinCargoProducto}}</td>
            </tr>
        {{/each}}
    </tbody>
</table>
